# Build outputs
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package managers
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Testing
/coverage
/.nyc_output

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json